*{
    font-family: 'Raleway', sans-serif;
}
body
{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    float: right;
    margin-top: -110px;
}

.header a {
    margin: 30px;
    color: #000;
    text-decoration: none;
    padding-top: 5px;
}

.header button {
    border: none;
    background-color: white;
    font-size: 1.2em;
    color: #0065FC;
    margin: 20px;
    cursor: pointer;
}

.header a:hover {
    color: #0065FC;
    text-decoration: overline;

}

.logo-img img {
    width: 100px;
    padding: 0;
    margin: 25px;
}

h3 {
    margin: 25px;
}

p {
    margin-top : 0.5em;
    margin-left: 25px;
}

.search-bar {
    width: 18em;
    height: 40px;
    position: relative;
    padding-right: 1em; 
    margin-left: 25px;
}
.fa-map-marker {
    position: absolute;
    left: -2px;
    padding-top: 12px;
    padding-right: 0.7em;
    padding-left: 0.8em;
    background-color:#F2F2F2;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    height: 70%;
    top: 0.04em;
}

.input {
    width: 100%;
    height: 35px;
    display: block;
    border-radius: 1.5rem;
    font-size: 15px;
    border-color: #F2F2F2;
    padding-left: 2em;
    margin-left: 0.5em;
}

.button {
    position: absolute;
    right: -27px;
    top: 0;
    width: 100px;
    height: 100%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background: #0065FC;
    color: white;
    border: none;
    font-size: 18px; 
    padding-inline-end: 1em;
    outline: none;
    cursor: pointer;
}

section {
    padding: none;
    width: 1280px;
    margin: 0.01em;
}

section ul {
    display: flex;
}

section ul li {
    list-style: none;
    padding: 10px;
    padding-left: 40px;
    padding-right: 30px;
    margin: 5px;
    margin-right: 30px;
    letter-spacing: 0.05em;
    cursor: pointer;
    position: relative;
}
   
.list {
    border: 0.18em solid #d9d9d9;
    border-radius: 25px;
}

.list:hover {
    background-color: #0bc6f5f3;
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px red, 0 0 10px darkblue;
}

.fa-money  { 
    color: #0065FC;
    position: absolute;
    left: -0.4em;
    top: -0.1em;
    border: 0.18em solid #DEEBFF;
    border-radius: 50%;
    background-color: #DEEBFF;
    padding: 10px;
}

.fa-users  { 
    color: #0065FC;
    position: absolute;
    left: -0.4em;
    top: -0.1em;
    border: 0.18em solid #DEEBFF;
    border-radius: 50%;
    background-color: #DEEBFF;
    padding: 10px;
}

.fa-heart { 
    color: #0065FC;
    position: absolute;
    left: -0.4em;
    top: -0.1em;
    border: 0.18em solid #DEEBFF;
    border-radius: 50%;
    background-color: #DEEBFF;
    padding: 10px;
}

.fa-paw { 
    color: #0065FC;
    position: absolute;
    left: -0.4em;
    top: -0.1em;
    border: 0.18em solid #DEEBFF;
    border-radius: 50%;
    background-color: #DEEBFF;
    padding: 10px;
}

.fa-info-circle {
    color: #0065FC;
    margin-left: 1em;
}

section h3{
    font-size: 1.8em;
    margin-bottom: -20px;
    margin-left: 1em;
}

.container1 {
    display: flex;
}

.part1 {
    background-color:#F2F2F2;
    margin: 1.7em;
    padding: 1.7em;
    border-radius: 20px;
    width: 1100px;
    min-width: 1100px;
    position: relative;
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-around;  
}

.card {
    flex-wrap: wrap;
    background-color: white;
    border-radius: 0.8em;
    padding: 0.3em;
    cursor: pointer;
    text-align: center;
    display: flex;
    flex-direction: column;
    min-width: 300px;
}

.part1 .card {
    max-width: 450px;
    display: flex;
    margin: 10px;
    max-height: 250px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.part1 .card .imgBx  {
    max-width: 200px;
    flex: 0 0 150px;
}

.part1 .card .imgBx img {
    max-width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    min-width: 300px;
}

.part1 .card .content{
    display: flex;
    flex-direction: column;
    text-align: justify;
}

.content h4{
    margin-bottom: -3px;
}
.content p{
    margin-bottom: 3px;
}

.stars {
    display: flex;
    flex-direction: row;
    color: #0065FC;
    margin: 3px;
    margin-left: 10px;
}

.part2 {
    background-color:#F2F2F2;
    margin: 1.7em;
    padding: 1.7em;
    border-radius: 20px;
    min-width: 500px;
    position: relative;
    display: flex; 
    justify-content: space-around;
    float: left;
    flex-wrap: wrap;
}

.card2 {
    background-color: white;
    border-radius: 0.8em;
    padding: 0.3em;
    cursor: pointer;
    display: flex;
    flex-direction: row;
}

.part2 .card2 {
    max-width: 450px;
    display: flex;
    margin: 10px;
    min-width: 450px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.part2 .card2 .imgBx2  {
    max-width: 220px;
    flex: 0 0 150px;
    min-width: 220px;
    
}

.part2 .card2 .imgBx2 img {
    max-width: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    max-width: 200px;
    min-width: 200px;
}

.container1 .part2 .card2 .content{
    display: flex;
    flex-direction: column;
    margin-left: -0.7em;
}
.container1 .part2 .card2 .content .fa-star {
    margin-top: 50px;
}

.container1 .part2 h3 {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 1.8em;
}
.fa-chart-line {
    margin-top: 5px;
    font-size: 1.8em;
    margin-bottom: 10px;
}

.part3 {
    background-color:none;
    margin: 1.7em;
    padding: 1.7em;
    border-radius: 20px;
    min-width: 1710px;
    position: relative;
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-around;  
}

.card3 {
    flex-wrap: wrap;
    background-color: white;
    border-radius: 0.8em;
    cursor: pointer;
    text-align: left;
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 435px;
}
.part3 .card3  {
    max-width: 400px;
    min-width: 250px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.part3 .card3 .imgBx3 img {
    height: 395px;
    max-width: 300px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.part3 .card3 .content {
    margin: 10px;
    margin-top: -15px;
}

.card4 {
    flex-wrap: wrap;
    background-color: white;
    border-radius: 0.8em;
    cursor: pointer;
    text-align: left;
    display: flex;
    flex-direction: column;
    min-width: 100px;
}
.part3 .card4  {
    width: 250px;
    min-width: 200px;
    max-height: 250px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.part3 .card4 .imgBx4 img {
    height: 200px;
    width: 250px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.part3 .card4 .content {
    margin: 10px;
    margin-top: -15px;
}

.card5 {
    flex-wrap: wrap;
    background-color: white;
    border-radius: 0.8em;
    cursor: pointer;
    text-align: left;
    display: flex;
    flex-direction: column;
    min-width: 200px;
}
.part3 .card5  {
    max-width: 250px;
    min-width: 200px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    max-height: 190px;
    margin: 10px;
    margin-left: 0;
    
}

.part3 .card5 .imgBx5 img {
    height: 150px;
    width: 250px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.part3 .card5 .content {
    margin: 10px;
    margin-top: -15px;
}

.part4 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.card6 {
    flex-wrap: wrap;
    background-color: white;
    border-radius: 0.8em;
    cursor: pointer;
    text-align: left;
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 435px;
}
.part3 .card6  {
    max-width: 400px;
    min-width: 250px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.part3 .card6 .imgBx6 img {
    height: 395px;
    max-width: 300px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.part3 .card6 .content {
    margin: 10px;
    margin-top: -15px;
}

.part5 {
    display: flex;
    flex-direction: column;

}

.card7 {
    flex-wrap: wrap;
    background-color: white;
    border-radius: 0.8em;
    cursor: pointer;
    text-align: left;
    display: flex;
    flex-direction: column;
    min-width: 300px;
}
.part3 .card7  {
    width: 250px;
    min-width: 200px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 220px;
}

.part3 .card7 .imgBx7 img {
    height: 180px;
    width: 250px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.part3 .card7 .content {
    margin: 10px;
    margin-top: -15px;
}

.card8 {
    flex-wrap: wrap;
    background-color: white;
    border-radius: 0.8em;
    cursor: pointer;
    text-align: left;
    display: flex;
    flex-direction: column;
    min-width: 200px;
}
.part3 .card8  {
    max-width: 250px;
    min-width: 200px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 200px;
    margin: 10px;
    margin-left: 0;
}

.part3 .card8 .imgBx8 img {
    height: 160px;
    width: 250px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.part3 .card8 .content {
    margin: 10px;
    margin-top: -15px;
}

footer {
    display: flex;
    background-color: #F2F2F2;
    flex-direction: row;
    justify-content: space-between;
    width:100%;
    height:20%;  
    bottom:0;
    left:0;
}

.footer1 {
    display: flex;
    flex-direction: column;
    padding:20px 0 40px 130px;
}

.footer1 a{
    color: black;
    text-decoration: none;
    padding-top: 10px;
}

.footer2 {
    display: flex;
    flex-direction: column;
    padding:20px 0 40px 100px;
}

.footer2 a{
    color: black;
    text-decoration: none;
    padding-top: 10px;
}

.footer3 {
    display: flex;
    flex-direction: column;
    padding:20px 150px 40px 100px;
    margin-right: 400px;
}

.footer3 a{
    color: black;
    text-decoration: none;
    padding-top: 10px;
}



@media all and (max-width: 600px) {
    body{
        min-width: 300px;
    }

    .header {
        display: block;
        margin: 20px auto;
        width: 50%;
        margin-top: -110px;
        display: flex;
        flex-direction: column-reverse;
    }
     
    section ul {
        display: block;
    }
    section ul li {
        width: 140px;
        margin: 15px;
    }
    section .container1{
        display: flex;
        flex-direction: column-reverse;
        margin-left: -35px;
    }
    section .container1 .part2{
        display:block;
    }
    .fa-chart-line {
        margin-left:300px;
        
    }

    section .container1 .part2 h3 {
        margin-bottom: -30px;
    }

    section .container1 .part1 {
        background-color: white;
        display: block;
    }
    section .container1 .part1 .card {
        max-width: 450px;
    }
    section .container1 .part1 .card .imgBx img{
        min-width: 450px;
    }

    section .part3 {
        display: block;
    }

    section .part3 .card3 {
        max-height: 200px;
        min-width: 430px;
        margin-bottom: 15px;
    }

    section .part3 .card3 .imgBx3 img{
        max-height: 160px;
        min-width: 430px;
    }

    section .part4 .card4 {
        max-height: 200px;
        min-width: 430px;
        margin-bottom: 15px;
    }

    section .part4 .card4 .imgBx4 img{
        max-height: 160px;
        min-width: 430px;
    }

    section .part4 .card5 {
        max-height: 200px;
        min-width: 430px;
        margin-bottom: 15px;
    }

    section .part4 .card5 .imgBx5 img{
        max-height: 160px;
        min-width: 430px;
    }

    section .part3 .card6 {
        max-height: 200px;
        min-width: 430px;
        margin-bottom: 15px;
    }

    section .part3 .card6 .imgBx6 img{
        max-height: 160px;
        min-width: 430px;
    }

    section .part5 .card7 {
        max-height: 200px;
        min-width: 430px;
        margin-bottom: 15px;
    }

    section .part5 .card7 .imgBx7 img{
        max-height: 160px;
        min-width: 430px;
    }

    section .part5 .card8 {
        max-height: 200px;
        min-width: 430px;
        margin-bottom: 15px;
    }

    section .part5 .card8 .imgBx8 img{
        max-height: 160px;
        min-width: 430px;
    }

    footer {
        display: block;
    }
    .footer1 {
        margin-left: -30px;
        margin-bottom: -35px;
    }

    .footer3 {
        margin-top: -25px;
    }
}