*{
    font-family: 'Raleway', sans-serif;
}
body
{ 
    margin: 0;
    padding: 0;
}

img.logo-img  {
    width: 120px;
    height: 60px;
    padding: 0;
    margin: 10px 25px;
}

.reg {
  float: right;
  margin-top: 25px;
}

.top-nav{
  float: right;
}
ul{
  margin: 0;
}
li{
  display: inline-block;
  padding-top: 20px;
}

header a {
    margin: 0 15px;
    color: #000;
    text-decoration: none;
    display: inline-block;
  }

header a:hover {
    color: #0065FC;
    border-top: solid 2px #0065FC;
    padding-top: 28px;
    margin-top: -35px;
}  

header button {
    border: none;
    background-color: white;
    font-size: 1.2em;
    color: #0065FC;
    margin: 20px;
    cursor: pointer;
}

.search-bar {
    width: 20%;
    height: 40px;
    position: relative;
    padding-right: 1em; 
}
.fa-map-marker {
    position: absolute;
    left: -2px;
    padding-top: 12px;
    padding-right: 0.7em;
    padding-left: 0.8em;
    background-color:#F2F2F2;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    height: 70%;
    top: 0;
}

.input {
    width: 100%;
    height: 35px;
    display: block;
    border-radius: 1.5rem;
    font-size: 15px;
    border-color: #F2F2F2;
    padding-left: 2em;
    margin-left: 0.5em;
}

.search-button {
    position: absolute;
    right: -27px;
    top: 0;
    width: 100px;
    height: 100%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background: #0065FC;
    color: white;
    border: none;
    font-size: 18px;
    outline: none;
    cursor: pointer;
}

.search-button i{
  display: none;
}

.wrapper {
    margin: 10px 25px;
}

nav {
  display: flex;
  float: left;
  grid-template-columns: repeat(5, 100px);
  margin: 10px auto 30px 30px;
}
nav h4 {
  text-align: left;
  margin: auto;
  padding: 0px 20px 0px 0px;
}

nav button {
  color: black;
  background: white;
  padding: 0 25px 0 15px;
  margin: 10px 15px;
  border: 3px solid #f2f2f2;
  border-radius: 30px;
  font-family: "Raleway", sans-serif;
  font-size: 1em;
  font-weight: bold;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 #deebff;
  transition: all ease 0.8s;
}

nav button:hover {

  color: #0cc9e2;
  border: #0cc9e2 solid 1px;
  background:#fff;
  text-shadow: 1px 1px 2px black, 0 0 25px rgb(223, 209, 16), 0 0 10px darkblue;
}

.fa-money, .fa-users, .fa-heart, .fa-paw { 
  color: #0065FC;
  position: relative;
  border: 2px solid #DEEBFF;
  border-radius: 50%;
  background-color: #DEEBFF;
  padding: 10px;
  margin-left: -20px;
  margin-right: 10px;
}
 
.fa-info-circle {
  color: #0065FC;
  margin-left: 0;
}
.clear {
  clear: both;
  margin-left: 24px;
}

aside {
  float: right;
  display: grid;
  grid-template-rows: 5% 95%;
  height: auto;
  width: 25%;
  border-radius: 25px;
  padding: 30px;
  margin: 20px 30px 20px 20px;
  background: #f2f2f2;
}
aside h3 {
  margin: 0;
  padding: 0px;
}

.flexaside {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  margin: 0;
  padding: 30px 0px;
  grid-gap: 30px;
}

.mostpop-text-box {
  background: white;
  color: black;
  height: 125px;
  width: 120px;
  border-radius: 0px 15px 15px 0px;
  margin-left: -20px;
  margin-top: -10px;
}

.mostpop-text-box p {
  margin: 0;
}
.fa-star {
  color: #0065FC;
  margin-top: 13px;
  font-size: 13px;
}
.fa-chart-line {
  font-size: 23px;
  margin-left: 320px;
  margin-top: -65px;
}

.mostpop-pic1 {
  display: grid;
  grid-template-columns: 145px 200px;
  background-image: url(img/most-popular/7.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom 0px right 200px;
  height: 145px;
  width: 345px;
  border-radius: 15px;
  justify-content: center;
  align-content: center;
  text-decoration: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 12px 0 rgba(0, 0, 0, 0.19);
  border: 5px white solid;
  border-right: none;
  background-color: white;
}

.mostpop-pic2 {
  display: grid;
  grid-template-columns: 145px 200px;
  background-image: url(img/most-popular/8.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom 0px right 200px;
  height: 145px;
  width: 345px;
  border-radius: 15px;
  justify-content: center;
  align-content: center;
  text-decoration: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 12px 0 rgba(0, 0, 0, 0.19);
  border: 5px white solid;
  border-right: none;
  background-color: white;
}

.mostpop-pic3 {
  display: grid;
  grid-template-columns: 145px 200px;
  background-image: url(img/most-popular/9.jpg);
  background-size: 147px;
  background-repeat: no-repeat;
  background-position: left bottom;
  height: 145px;
  width: 345px;
  border-radius: 15px;
  justify-content: center;
  align-content: center;
  text-decoration: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 12px 0 rgba(0, 0, 0, 0.19);
  border: 5px white solid;
  border-right: none;
  background-color: white;
}

aside a:hover {
  transform: scale(1.1);
}

main {
  float: left;
  display: grid;
  grid-template-rows: 5% 90% 5%;
  width: 63%;
  height: min(621px);
  border-radius: 25px;
  padding: 30px;
  margin: 20px 0px 20px 30px;
  background: #f2f2f2;
}
main h3 {
  margin: 0px;
  padding: 0px;
}

.flexmain {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  margin: 0px 0px;
  padding: 0px 0px;
  height: 450px;
  grid-gap: 70px;
  overflow: hidden;
}

.accom-text-box {
  background: white;
  color: black;
  width: 235px;
  border-radius: 0px 0px 15px 15px;
  padding: 10px;
}
.accom-text-box h4{
  margin-top: -8px;
}

.accom-text-box p {
  margin: -20px 0 -20px 0;
}

.accom-pic1 {
  display: grid;
  grid-template-rows: 120px 80px;
  background-image: url(img/accomodations/1.jpg);
  background-size: 245px;
  background-repeat: no-repeat;
  background-position: bottom 40px right 0px;
  height: 200px;
  width: 245px;
  border-radius: 15px;
  justify-content: center;
  text-align: justify;
  align-content: center;
  text-decoration: none;
  box-shadow: 0 13px 8px 0 rgba(0, 0, 0, 0.2), 0 16px 12px 0 rgba(0, 0, 0, 0.19);
  border: 5px white solid;
  border-bottom: none;
}

.accom-pic2 {
  display: grid;
  grid-template-rows: 120px 80px;
  background-image: url(img/accomodations/2.jpg);
  background-size: 245px;
  background-repeat: no-repeat;
  background-position: bottom 65px right 0px;
  background-color: white;
  height: 200px;
  width: 245px;
  border-radius: 15px;
  justify-content: center;
  align-content: center;
  text-decoration: none;
  box-shadow: 0 13px 8px 0 rgba(0, 0, 0, 0.2), 0 16px 12px 0 rgba(0, 0, 0, 0.19);
  border: 5px white solid;
  border-bottom: none;
}

.accom-pic3 {
  display: grid;
  grid-template-rows: 120px 80px;
  background-image: url(img/accomodations/3.jpg);
  background-size: 245px;
  background-repeat: no-repeat;
  background-position: bottom 65px right 0px;
  background-color: white;
  height: 200px;
  width: 245px;
  border-radius: 15px;
  justify-content: center;
  align-content: center;
  text-decoration: none;
  box-shadow: 0 13px 8px 0 rgba(0, 0, 0, 0.2), 0 16px 12px 0 rgba(0, 0, 0, 0.19);
  border: 5px white solid;
  border-bottom: none;
}

.accom-pic4 {
  display: grid;
  grid-template-rows: 120px 80px;
  background-image: url(img/accomodations/4.jpg);
  background-size: 245px;
  background-repeat: no-repeat;
  background-position: bottom 0px right 0px;
  height: 200px;
  width: 245px;
  border-radius: 15px;
  justify-content: center;
  align-content: center;
  text-decoration: none;
  box-shadow: 0 13px 8px 0 rgba(0, 0, 0, 0.2), 0 16px 12px 0 rgba(0, 0, 0, 0.19);
  border: 5px white solid;
  border-bottom: none;
}

.accom-pic5 {
  display: grid;
  grid-template-rows: 120px 80px;
  background-image: url(img/accomodations/5.jpg);
  background-size: 285px;
  background-repeat: no-repeat;
  background-position: bottom 40px right 0px;
  height: 200px;
  width: 245px;
  border-radius: 15px;
  justify-content: center;
  align-content: center;
  text-decoration: none;
  box-shadow: 0 13px 8px 0 rgba(0, 0, 0, 0.2), 0 16px 12px 0 rgba(0, 0, 0, 0.19);
  border: 5px white solid;
  border-bottom: none;
}

.accom-pic6 {
  display: grid;
  grid-template-rows: 120px 80px;
  background-image: url(img/accomodations/6.jpg);
  background-size: 245px;
  background-repeat: no-repeat;
  background-position: bottom 50px right 0px;
  height: 200px;
  width: 245px;
  border-radius: 15px;
  justify-content: center;
  align-content: center;
  text-decoration: none;
  box-shadow: 0 13px 8px 0 rgba(0, 0, 0, 0.2), 0 16px 12px 0 rgba(0, 0, 0, 0.19);
  border: 5px white solid;
  border-bottom: none;
}
main a:hover {
  transform: scale(1.1);
}
.showmorebtn {
  margin: 0px auto auto 10px;
  padding: 0px;
  font-weight: 600;
  text-decoration: none;
  color: black;
}
.showmorebtn:hover {
  color: #0065fc;
  transform: none;
}

article {
  float: none;
  display: grid;
  grid-template-rows: 5% 95%;
  height: min(600px);
  width: 90%;
  padding: 30px;
}
article h3 {
  margin: 0 0 0 40px;
  padding: 0;
}

.grid {
  display: grid;
  height: 100%;
  grid-gap: 40px;
  grid-template-columns: repeat(4, 300px);
  grid-template-rows: 235px 165px;
  align-content: center;
  justify-content: center;
  margin: 10px 0px 40px 0px;
}

.act-text-box {
  background: white;
  color: black;
  width: 290px;
  border-radius: 0px 0px 15px 15px;
  padding: 5px 5px 0 5px;
  margin-top: -12px;
}

.act-text-box h4{
  padding-left: 10px;
  padding-bottom: 5px;
}

.act-pic1 {
  grid-area: 1 / 1 / 3 / 2;
  display: grid;
  grid-template-rows: 400px 45px;
  background-image: url(img/activities/1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 445px;
  width: 300px;
  border-radius: 15px;
  justify-content: center;
  align-content: center;
  text-decoration: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 12px 0 rgba(0, 0, 0, 0.19);
}
.act-pic2 {
  grid-area: 1 / 2 / 2 / 3;
  display: grid;
  grid-template-rows: 185px 45px;
  background-image: url(img/activities/2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 230px;
  width: 300px;
  border-radius: 15px;
  justify-content: center;
  align-content: center;
  text-decoration: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 12px 0 rgba(0, 0, 0, 0.19);
}
.act-pic3 {
  grid-area: 2 / 2 / 3 / 3;
  display: grid;
  grid-template-rows: 120px 45px;
  background-image: url(img/activities/3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 165px;
  width: 300px;
  border-radius: 15px;
  justify-content: center;
  align-content: center;
  text-decoration: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 12px 0 rgba(0, 0, 0, 0.19);
}
.act-pic4 {
  grid-area: 1 / 3 / 3 / 4;
  display: grid;
  grid-template-rows: 400px 45px;
  background-image: url(img/activities/4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 445px;
  width: 300px;
  border-radius: 15px;
  justify-content: center;
  align-content: center;
  text-decoration: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 12px 0 rgba(0, 0, 0, 0.19);
}
.act-pic5 {
  grid-area: 1 / 4 / 2 / 5;
  display: grid;
  grid-template-rows: 185px 45px;
  background-image: url(img/activities/5.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 230px;
  width: 300px;
  border-radius: 15px;
  justify-content: center;
  align-content: center;
  text-decoration: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 12px 0 rgba(0, 0, 0, 0.19);
}
.act-pic6 {
  grid-area: 2 / 4 / 3 / 5;
  display: grid;
  grid-template-rows: 120px 45px;
  background-image: url(img/activities/6.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 165px;
  width: 300px;
  border-radius: 15px;
  justify-content: center;
  align-content: center;
  text-decoration: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 12px 0 rgba(0, 0, 0, 0.19);
}
article a:hover {
  transform: scale(1.1);
}

footer {
  display: flex;
  background-color: #F2F2F2;
  flex-direction: row;
  justify-content: space-between;
  width:100%;
  height:20%;  
  bottom:0;
  left:0;
}

.footer1 {
  display: flex;
  flex-direction: column;
  padding:20px 0 40px 130px;
}

.footer1 a{
  color: black;
  text-decoration: none;
  padding-top: 10px;
}

.footer2 {
  display: flex;
  flex-direction: column;
  padding:20px 0 40px 100px;
}

.footer2 a{
  color: black;
  text-decoration: none;
  padding-top: 10px;
}

.footer3 {
  display: flex;
  flex-direction: column;
  padding:20px 150px 40px 100px;
  margin-right: 400px;
}

.footer3 a{
  color: black;
  text-decoration: none;
  padding-top: 10px;
}



@media only screen and (max-width: 500px) {

    .top-nav{
      display: block;
      width: 100%;
      margin-bottom: 50px;
      border-bottom: 2px solid #F2F2F2;
    }
    ul{
      padding: 0;
    }
    li{
      width: 48%;
      text-align: center;
      padding-top: 0;
      padding-bottom: 25px;
    }

    header li:hover {
        color: #0065FC;
        border-bottom: solid 2px #0065FC;
        border-top: none;
        padding-bottom: 25px;
    }
    header a:hover {
      color: #0065FC;
      border-top: none;
    }
    .search-bar {
      width: 90%;
    }
    .search-button{
      width: 50px;
      border-radius: 10px;
    }
    .search-button span{
      display: none;
      
    }
    .search-button i{
      display: block;
      margin-left: 2px;
    }
    nav {
      display: block;
    }
    nav h4 {
      margin-bottom: 5px;
      margin-top: 15px;
    }
    .fa-info-circle {
      color: #0065FC;
      margin-left: 0;
    }
    .fa-chart-line {
      font-size: 23px;
      margin-left: 300px;
      margin-top: -40px;
    }

    aside {
      float: none;
      width: 100%;
      margin: 0px;
      border-radius: 0px;
      padding: 20px 0px 20px 0px;
      grid-template-rows: 5% 95%;
      height: auto;
    }
    aside h3 {
      margin: 0 0 0 15px;
      padding: 0px;
    }
    .flexaside {
      margin-top: 15px;
      padding: 0;
      grid-gap: 30px;
      height: auto;
    }
  

  .mostpop-pic1 {
      width: 335px;
      grid-template-columns: 135px 200px;
      background-color: white;
    
  }
  .mostpop-pic2 {
      width: 335px;
      grid-template-columns: 135px 200px;
      background-color: white;
  }
  .mostpop-pic3 {
      width: 335px;
      grid-template-columns: 135px 200px;
      background-color: white;
      background-size: 135px;
  }

  main {
    float: none;
    display: grid;
    grid-template-rows: 2.5% 95% 2.5%;
    grid-template-columns: 100%;
    width: 100%;
    height: auto;
    margin: 0px;
    background: white;
    border-radius: 0px;
    padding: 20px 0px 40px 0px;
  }
  main h3{
    padding-left: 15px;
  }

  .flexmain {
    margin: 0px 0px 0px 20px;
    height: auto;
    overflow: visible;
  }

  .accom-text-box {
    width: 325px;
  }

  .accom-pic1, .accom-pic2, .accom-pic3, .accom-pic4, .accom-pic5, .accom-pic6 {
    background-size: 335px;
    width: 335px;
  }

  .showmorebtn {
    margin: 20px 0px;
    padding: 10px 0px 0px 15px;
  }

  article {
    float: none;
    display: grid;
    grid-template-rows: 5% 95%;
    grid-template-columns: 100%;
    grid-gap: 25px;
    height: auto;
    width: 100%;
    padding: 20px 0px 60px 0px;
    margin: 0px;
    align-content: center;
  }
  article h3 {
    margin: 0 0 0 15px;
    padding: 0;
  }

  .grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    height: auto;
    grid-gap: 50px;
    align-content: center;
    justify-content: center;
    margin: 0px 0px;
    padding-right: 0;
  }

  .act-text-box {
    width: 325px;
    padding-top: 12px;
  }

  .act-pic1 {
    grid-template-rows: 135px 55px;
    background-size: 335px;
    height: 190px;
    width: 335px;
  }
  .act-pic2 {
    grid-template-rows: 135px 55px;
    background-size: 335px;
    height: 190px;
    width: 335px;
  }
  .act-pic3 {
    grid-template-rows: 135px 55px;
    background-size: 335px;
    height: 190px;
    width: 335px;
  }
  .act-pic4 {
    grid-template-rows: 135px 55px;
    background-size: 335px;
    height: 190px;
    width: 335px;
  }
  .act-pic5 {
    grid-template-rows: 135px 55px;
    background-size: 335px;
    height: 190px;
    width: 335px;
  }
  .act-pic6 {
    grid-template-rows: 135px 55px;
    background-size: 335px;
    height: 190px;
    width: 335px;
  }
  footer {
    display: block;
  }
  .footer1 {
    margin-left: -30px;
    margin-bottom: -35px;
  }

  .footer3 {
    margin-top: -25px;
  }
}


  
@media only screen and (min-width: 501px) and (max-width: 865px) {

  .top-nav{
    display: block;
    width: 100%;
    margin-bottom: 50px;
    border-bottom: 2px solid #F2F2F2;
  }
  ul{
    padding: 0;
  }
  li{
    width: 48%;
    text-align: center;
    padding-top: 0;
    padding-bottom: 25px;
  }

  header li:hover {
      color: #0065FC;
      border-bottom: solid 2px #0065FC;
      border-top: none;
      padding-bottom: 25px;
  }
  header a:hover {
    color: #0065FC;
    border-top: none;
  }

  .search-bar {
    width: 60%;
  }
  .search-button{
    width: 80px;
    border-radius: 10px;
    padding-left: 10px;
  }
  .search-button i{
    display: none;
  }
  nav {
    display: block;
  }
  nav h4 {
    margin-bottom: 5px;
    margin-top: 15px;
  }
  .fa-info-circle {
    color: #0065FC;
    margin-left: 0;
  }
  .fa-chart-line {
    margin-top: -30px;
  }

  aside {
    float: none;
    width: 100%;
    margin: 0px;
    border-radius: 0px;
    padding: 20px 0 20px 0;
    grid-template-rows: 5% 95%;
    height: auto;
}
  aside h3 {
    padding-left: 15px;
  }

  .flexaside {
    margin: 0;
    margin-top: 15px;
    padding: 0;
    grid-gap: 30px;
    height: auto;
}

.mostpop-pic1 {
    width: 335px;
    grid-template-columns: 135px 200px;
    background-color: white;
}
.mostpop-pic2 {
    width: 335px;
    grid-template-columns: 135px 200px;
    background-color: white;
}
.mostpop-pic3 {
    width: 335px;
    grid-template-columns: 135px 200px;
    background-color: white;
    background-size: 135px;
}
main {
  float: none;
  display: grid;
  grid-template-rows: 2.5% 95% 2.5%;
  grid-template-columns: 100%;
  width: 100%;
  height: auto;
  margin: 0px;
  background: white;
  border-radius: 0px;
  padding: 20px 0px 40px 0px;
}
main h3{
  margin-left: 15px;
  padding-bottom: 15px;
}

.showmorebtn {
  align-content: center;
  margin: 20px 0px 0px 30px;
  padding-bottom: 30px;
}

.flexmain {
  margin: 15px 0px 0px 20px;
  height: auto;
  overflow: visible;
}

.accom-text-box {
  width: 325px;
}

.accom-pic1, .accom-pic2, .accom-pic3, .accom-pic4, .accom-pic5, .accom-pic6 {
  background-size: 335px;
  width: 335px;
}

.showmorebtn {
  margin: 20px 0px 20px 30px;
  padding-bottom: 30px;
}

article {
  float: none;
  display: grid;
  grid-template-rows: 5% 95%;
  grid-template-columns: 100%;
  grid-gap: 25px;
  height: auto;
  width: 100%;
  padding: 20px 0 60px 0;
  margin: 0px;
  align-content: center;
}
article h3 {
  margin: 0 0 0 25px;
  padding: 0px;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  height: auto;
  grid-gap: 30px;
  align-content: center;
  justify-content: center;
  margin: 0px 0px;
}

.act-text-box {
  width: 325px;
  padding-top: 12px;
}

.act-pic1 {
  grid-template-rows: 135px 55px;
  background-size: 335px;
  height: 190px;
  width: 335px;
}
.act-pic2 {
  grid-template-rows: 135px 55px;
  background-size: 335px;
  height: 190px;
  width: 335px;
}
.act-pic3 {
  grid-template-rows: 135px 55px;
  background-size: 335px;
  height: 190px;
  width: 335px;
}
.act-pic4 {
  grid-template-rows: 135px 55px;
  background-size: 335px;
  height: 190px;
  width: 335px;
  }
.act-pic5 {
  grid-template-rows: 135px 55px;
  background-size: 335px;
  height: 190px;
  width: 335px;
  }
.act-pic6 {
  grid-template-rows: 135px 55px;
  background-size: 335px;
  height: 190px;
  width: 335px;
  }
footer {
  display: block;
  }
.footer1 {
  margin-left: -30px;
  margin-bottom: -35px;
  }

.footer3 {
  margin-top: -25px;
  }
}

@media only screen and (min-width: 865px) and (max-width:1360px) {
  .search-bar {
    width: 30%;
  }
  .fa-info-circle {
    color: #0065FC;
    margin-left: 0;
  }
  .fa-chart-line {
    font-size: 23px;
    margin-left: 300px;
    margin-top: -30px;
  }
  aside {
    float: right;
    width: 37%;
    margin: 5px 0 0 5px;
    padding: 20px;
    grid-template-rows: 5% 95%;
    height: auto;
}

  .flexaside {
      margin: 0px;
      padding: 0;
      grid-gap: 22px;
      height: auto;
  }

  .mostpop-pic1 {
      width: 335px;
      grid-template-columns: 135px 200px;
      background-color: white;
    
  }
  .mostpop-pic2 {
      width: 335px;
      grid-template-columns: 135px 200px;
      background-color: white;
  }
  .mostpop-pic3 {
      width: 335px;
      grid-template-columns: 135px 200px;
      background-color: white;
  }
  main {
    float: left;
    display: grid;
    grid-template-rows: 5% 90% 5%;
    width: 45%;
    height: 530px;
    border-radius: 25px;
    padding: 30px;
    margin: 5px -10px 20px 30px;
    background: #f2f2f2;
  }
  main h3 {
    margin: 0px;
    padding: 0px;
  }
  
  .flexmain {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    margin: -20px 0px;
    padding: 40px 0px;
    height: 450px;
    grid-gap: 50px;
    overflow: hidden;
  }

  .accom-text-box {
    width: 255px;
  }

  .accom-pic1, .accom-pic2, .accom-pic3, .accom-pic4, .accom-pic5, .accom-pic6 {
    background-size: 335px;
    width: 265px;
  }

  .showmorebtn {
    margin: 20px 0px;
    padding: 10px 0px 0px 0px;
  }

  article {
    height: auto;
    margin-bottom: 40px;
}
.grid {
    grid-template-rows: 235px 165px 235px 165px;
    grid-template-columns: repeat(2, 300px);
}
.act-pic1 {
    grid-row: 1 / 3;
    grid-column: 1 / 2;
}
.act-pic2 {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
}
.act-pic3 {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}
.act-pic4 {
    grid-row: 3 / 5;
    grid-column: 2 / 3;
}
.act-pic5 {
    grid-row: 3 / 4;
    grid-column: 1 / 2;
}
.act-pic6 {
    grid-row: 4 / 5;
    grid-column: 1 / 2;
}
}
@media only screen and (min-width: 1360px){
  aside{
    width:28%;
    height: 640px;
  }
  main {
    float: left;
    display: grid;
    grid-template-rows: 5% 90% 5%;
    width: 53%;
    height: auto;
    border-radius: 25px;
    padding: 30px;
    margin: 20px 10px 20px 30px;
    background: #f2f2f2;
  }
  main h3 {
    margin: 0px;
    padding: 0px;
  }
  
  .flexmain {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    margin: 0px 0px;
    padding: 50px 0px;
    height: 450px;
    grid-gap: 50px;
    overflow: hidden;
  }
  .showmorebtn {
    margin: 15px 10px;
    padding: 10px 0px 10px 0px;
  }
}